.container {
  max-width: 1200px;
  min-height: 100vh;
  background: #ceb3b3;
  padding: 30px;
  margin: 0 auto;
}

.search-container{
  margin-bottom: 30px;
}

.search-container h1{
  margin-bottom: 30px;
}


